@font-face {
  font-family: 'Ownglyph_wiseelist-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



.Header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
.Header > div {
  display: flex;
}

.Header button {
  font-family: 'Ownglyph_wiseelist-Rg';
}

.Header .header_title {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}
.Header .header_left {
  width: 25%;
  justify-content: start;
}
.Header .header_right {
  width: 25%;
  justify-content: end;
}
